<!-- ============== Banner section ============== -->
  <div class="banner-structure">
    <ul>
      <li class="hidden-sm hidden-xs">
        <%= image_tag "banner-1.jpg"%>
      </li>
      <li class="hidden-md hidden-lg">
        <%= image_tag "banner-1-mobile.jpg" %>
      </li>
      <!-- <li><img src="assets/banner-1.jpg" alt="banner" /></li>
      <li><img src="assets/banner-1.jpg" alt="banner" /></li> -->
    </ul>
    <div class="banner-form">
      <div class="container">
        <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 pull-right w100">
          <div class="row">
            <h2><span>We Give you</span>Free Consultation</h2>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 w100 p-right-less">
              <input type="text" placeholder="Full Name" />
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 w100 p-left-less">
              <input type="text" placeholder="Your Email" />
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <textarea placeholder="Message" ></textarea>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-sm-12 col-xs-12">
              <input type="button" class="button-banner" value="Get Free Consultation" />
            </div>
            <!-- /.col-sm-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-7 -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.banner-form -->
  </div>
  <!-- /.banner-structure -->
  <!-- ============== Welcome section ============== -->
  <div class="welcome-section fixed-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 law-desk">
          <h2 class="common">The Law Office of<span><b>Jorge Cueto, Esq</b></span></h2>
          <p>Lawyer Desk is the best lawyer firm text of the printing and type setting industry. We will give best and proper solution for your problem. We are great in our profession.Lawyer Desk is the best lawyer firm.</p>
          <p>Lawyers of the printing and type setting industry. We will give best and proper solution for your problem.</p>
          <input type="button" value="more about us" />
        </div>
        <!-- /.law-desk -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 law-desk">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 w100 ico"> <i class="fa fa-thumbs-o-up"></i>
              <h3>Success Story</h3>
              <p>Lawyer Desk is the best lawyer firm text of the printing and type setting industry. We will give proper solution.</p>
              <a href="#">Know More</a> </div>
            <!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 w100 ico"> <i class="fa fa-university"></i>
              <h3>Mission & Vission</h3>
              <p>Lawyer Desk is the best lawyer firm text of the printing and type setting industry. We will give proper solution.</p>
              <a href="#">Know More</a> </div>
            <!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 w100 ico"> <i class="fa fa-user-md"></i>
              <h3>Great Advice</h3>
              <p>Lawyer Desk is the best lawyer firm text of the printing and type setting industry. We will give proper solution.</p>
              <a href="#">Know More</a> </div>
            <!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 w100 ico"> <i class="fa fa-trophy"></i>
              <h3>Achivments</h3>
              <p>Lawyer Desk is the best lawyer firm text of the printing and type setting industry. We will give proper solution.</p>
              <a href="#">Know More</a> </div>
            <!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.law-desk -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.welcom-section -->
  <!-- ============== We are Experienced section ============== -->
  <div class="experienced fixed-padding relative">
    <div class="experienced-man"> <%= image_tag  "cueto-cutout.png", style: "width:80%;"%> </div>
    <!-- /.experienced-man -->
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 pull-right">
          <h2 class="common">30 Years of Experience <span><b>We are</b> experienced</span></h2>
          <div class="progress-sections">
            <h4 class="progress-head">Financial law <span>82%</span></h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" data-transitiongoal="82" > </div>
            </div>
            <!-- /.progress -->
          </div>
          <!-- /.progress-sections -->
          <div class="progress-sections">
            <h4 class="progress-head">Business law <span>91%</span></h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" data-transitiongoal="91"> </div>
            </div>
            <!-- /.progress -->
          </div>
          <!-- /.progress-sections -->
          <div class="progress-sections">
            <h4 class="progress-head">Criminal law<span>60%</span></h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-transitiongoal="60"> </div>
            </div>
            <!-- /.progress -->
          </div>
          <!-- /.progress-sections -->
          <div class="progress-sections">
            <h4 class="progress-head">Accident law <span>75%</span></h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-transitiongoal="75"> </div>
            </div>
            <!-- /.progress -->
          </div>
          <!-- /.progress-sections -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.Experienced -->
  <!-- ============== Count section ============== -->
  <div class="count-section">
    <div class="container">
      <div class="row">
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <%= fa_icon "user" %> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="1500" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text ">Trusted Clients</p>
        </div>
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <%= fa_icon "briefcase" %> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="2000" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text ">Successful Cases</p>
        </div>
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <%= fa_icon "trophy" %> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="1200" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text ">Honor & Awards</p>
        </div>
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <%= fa_icon "users" %> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="1000" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text">Satisfied Clients</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.count-section -->
  <!-- ============== Practice section ============== -->
  <div class="practice-section fixed-padding">
    <div class="container">
      <div class="row">
        <h2 class="common">Working Areas<span><b>Practice</b> areas</span></h2>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <%= fa_icon "ambulance 4x" %>
          <div class="text-box relative">
            <h2>Personal Injury law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>

          </div>
          <!-- /.text-box /.relative -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <%= fa_icon "home 4x" %>
          <div class="text-box relative">
            <h2>Real Estate law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
          </div>
          <!-- /.text-box /.relative -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <%= fa_icon "money 4x" %>
          <div class="text-box relative">
            <h2>Financial law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
          </div>
          <!-- /.text-box /.relative -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="txt-center">
          <button class="btn btn-lg" style="margin-top:50px;"><%= link_to 'View all practice areas', page_path('practice-areas') %></button>
        </div>
        <!-- /.text-center -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.practice-section -->
